<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/img/heart.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>♥ I Love YOU ♥</title>
    <meta charset="utf-8">
</head>
<body class="second_page">
<audio id="myaudio" hidden="hidden" controls autoplay src="static/audio/samaya.mp3"></audio>
<img src="static/img/dance.gif" class="gif1" style="top: 5%; left: 10%; width: 8%; transform: rotate(7deg);">
<img src="static/img/dance.gif" class="gif1" style="top: 10%; left: 30%; width: 12%; transform: rotate(15deg);">
<img src="static/img/dance.gif" class="gif2" style="top: 15%; left: 50%; width: 5%; transform: rotate(-10deg);">
<img src="static/img/dance.gif" class="gif2" style="top: 20%; left: 70%; width: 10%; transform: rotate(25deg);">
<img src="static/img/dance.gif" class="gif1" style="top: 25%; left: 90%; width: 15%; transform: rotate(-5deg);">
<img src="static/img/dance.gif" class="gif2" style="top: 75%; left: 10%; width: 6%; transform: rotate(30deg);">
<img src="static/img/dance.gif" class="gif2" style="top: 60%; left: 30%; width: 9%; transform: rotate(-20deg);">
<img src="static/img/dance.gif" class="gif1" style="top: 65%; left: 50%; width: 13%; transform: rotate(45deg);">
<img src="static/img/dance.gif" class="gif1" style="top: 65%; left: 70%; width: 5%; transform: rotate(-30deg);">
<img src="static/img/dance.gif" class="gif1" style="top: 65%; left: 80%; width: 10%; transform: rotate(40deg);">
<img src="static/img/dance.gif" class="gif2" style="top: 45%; left: 10%; width: 12%; transform: rotate(60deg);">
<img src="static/img/dance.gif" class="gif2" style="top: 40%; left: 50%; width: 10%; transform: rotate(75deg);">
  <div class="card1" style="margin-top: 5% !important;">
    <img src="static/img/1.jpeg" alt="Image">
    <div class="text"><a>Я определённо не умею говорить красиво, всё что я хочу сказать вот этим всем, что я не смогу прожить эту жизнь без тебя и что я тебя безумно люблю,
        самую красивую, милую и добрую девочку на свете. Ты делаешь мою жизнь прекрасной и особенной и я ценю каждый момент проведённый вместе с тобой.
        Ну, и ваще ты крутая хочу пунькнуть тебя в носик, воть там тебе вкуснящки ещё приехали. Я очень старался придумать что-то особенное и надеюсь у меня получилось вызвать у тебя улыбку❤❤❤</a>
    </div>
  </div>

<script>
  var audio = document.getElementById("myaudio");
  audio.volume = 0.01;
</script>
</body>
</html>